* {
    box-sizing: border-box;
}

@font-face {
    font-family: "truenoRg";
    src: url("TruenoRg.otf");
}

body {
    font-family: 'truenoRg', sans-serif;
}

.container {
    width: 700px;
    margin: 0 auto;
}

footer {
    background-color: #94BA66;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    color: #fff;
    margin-top: 10px;
}

footer span {
    color: #295074;
    font-weight: bold;
}