* {
    box-sizing: border-box;
}

@font-face {
    font-family: "truenoRg";
    src: url("TruenoRg.otf");
}

body {
    font-family: 'truenoRg', sans-serif;
}

.container {
    width: 700px;
    margin: 0 auto;
}